@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
// @import "\Users\Harsh\Downloads\wallpaperflare.com_wallpaper";

$red: #e20001;
$black: #000000;

html,
body {
  background-size:cover;
  background-position: 50%;
  background-image: url("https://images.hdqwalls.com/download/apple-abstract-dark-red-4k-3m-2880x1800.jpg");
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form{
  display : flex;
  flex-direction : column;
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: #e20001;
}

.container {
  width: 1080px;
  min-width: 1080px;
  margin: 0 auto;
  .wrapper {
    padding: 0 48px;
    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      p {
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        color : antiquewhite;
        text-transform: uppercase;
        font-weight: 500;
      }
      h5 {
        margin-top: 260px;
        font-size: 24px;
        font-weight: 600;
        padding-right: 360px;
      }
    }
  }
}

header {
  height: 100px;
  .inner-header {
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a {
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;
      color: antiquewhite;
      
      transition: 0.3s ease-in-out;
        &:hover {
          border-radius: 5px;
          cursor: pointer;
          color: black;
          background-color: antiquewhite
            
        }
    }
    .menu {
      
      button {
        color: antiquewhite;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 1rem;
        mix-blend-mode: difference;
        transition: 0.3s ease-in-out;
        &:hover {
          border-radius: 5px;
          cursor: pointer;
          color: black;
          background-color: antiquewhite
            
        }
      }
    }
  }
  .hamburger-menu {
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    .menu-secondary-background-color {
      background: transparent;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    // the red dashborad
    .menu-layer {
      position: relative;
      backdrop-filter: blur(5px);
      background: rgba(11, 1, 0, 0.5);
      height: 100%;
      overflow: hidden;
      .menu-city-background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        background-size: cover;
        background-repeat: no-repeat;
        animation-name: backgroundEffect;
        animation-duration: 30s;
        animation-iteration-count: infinite;
      }
      .wrapper {
        position: relative;
        .menu-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          top: 100px;
          // nav {
          //   display: block;
          //   ul {
          //     margin: 0;
          //     padding: 0;
          //     li {
          //       list-style: none;
          //       font-size: 2rem;
          //       font-weight: 700;
          //       cursor: pointer;
          //       height: 335px;
          //       overflow: hidden;
          //       position: relative;
          //       width: 700px;
          //       a {
          //         position: absolute;
          //         color: #fff;
          //         text-decoration: none;
          //         &:hover {
          //           color: $black;
          //         }
          //       }
          //     }
          //   }
          // }
          .info {
            color:antiquewhite;
            width: 300px;
            h3 {
              font-size: 1.2rem;
              margin: 8px auto;
            }
            p {
              color : antiquewhite;
              margin: 0 auto;
              font-size: 0.8rem;
            }
          }
        }
        .locations {
          position: absolute;
          bottom: -80px;
          color: antiquewhite;
          margin-top: 16px;
          font-size: 0.8rem;
          font-weight: 600;
          span {
            cursor: pointer;
            &:first-child {
              margin-left: 64px;
            }
            font-weight: 400;
            margin: 0 32px;
            transition: 0.3s ease-in-out;
            &:hover {
              color: antiquewhite;
              background: $black;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

// new css for signup signin form 

.containerSign{
  cursor: default;
  height : 400px;
  width : 500px;
  backdrop-filter: blur(50px);
  border : 2px solid black;
  border-radius : 10px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display : flex;
  justify-content: center;
  align-items: center;
  color :antiquewhite;
}


// .ui divider{
  
// }

.ui form{
  border-radius : 5px solid yellow;
  
}

.field{
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color :antiquewhite;
  display : flex;
  flex-direction: column;
  font-size: 20px;
  height : 20px;
  margin : 0;
}

.fieldBox{
  color: antiquewhite;
  height : 30px;
  width : 300px;
  background: transparent;
  border: none;
  border-bottom  : 2px solid rgb(0, 0, 0);
  // margin : 0px 0px 0px 10px;
}

.click{
  width : 85px;
  background:transparent;
  border : none;
  font-size: 1.1rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 2px solid antiquewhite;
  border-radius : 2px;
  color :antiquewhite;
  margin :0px 0px 10px 10px;
  transition: 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    color: black;
    background-color: antiquewhite;
      border-radius: 5px;
  }
}

.ui button{
  width : 75px;
  background:transparent;
  border : none;
  font-size: 1.1rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 2px solid antiquewhite;
  border-radius : 2px;
  color :antiquewhite;
  transition: 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    color: black;
    background-color: antiquewhite;
    border-radius: 5px;
      
  }
}

.confirmBox{
  display : flex;
  flex-direction: row;
  color :antiquewhite;
  padding-top: 4%;
  button{
    backdrop-filter: blur(5px);
  }
  
}

.errors{
  margin-top: 30px;
  font-size: 14px;
}

// search bar

.searchInputs {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  background-color: rgba(0, 0, 0, 0.50);
  border: 2px solid black;
  backdrop-filter: blur(5px);
  border-radius: 7px;
  font-size: 18px;
  padding: 15px;
  height: 10px;
  width: 300px;
  color : antiquewhite;
}

.searchIcon {
  height: 40px;
  width: 50px;
  display: grid;
  place-items: center;
  color: antiquewhite;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}


#clearBtn {
  cursor: pointer;
}



// cards
.cards{
  
  display: flex;
  height : 75vh;
  width : 90vw;
  margin : 15px;
  background-color: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(5px);
  border : 2px solid black;
  border-radius: 15px;
}

.list{
  visibility: hidden;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  height: 100%;
  width: 50%;
  border-right : 2px solid black;
  overflow: scroll;

  li{
    cursor: pointer;
    padding-top: 2.22%;
    padding-bottom: 2.22%;
    padding-left: 4%;
    padding-right: 4%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: antiquewhite;
    //border-bottom: 2px solid black;
    transition: 0.3s ease-in-out;
    &:hover {
      color: #000000;
      background-color: antiquewhite;
      border-radius: 15px;
    }
  }
}


.infor{
  visibility: hidden;
  justify-content: right;
  height: 100%;
  width: 50%;
  border-left : 2px solid black;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 4fr 1fr;
  // grid-column-gap: 20px;
  // grid-row-gap: 20px; 
}

.image{
  padding: 4%;
  padding-left: 6%;
  grid-column: 1;
  grid-row: 1;
  
  img{
    height: 360px;
    width: 240px;
    border-radius: 15px;
    border: 2px solid black;
  }
  
}

.descr{

  font-family: "Times New Roman", Times, serif;
  font-stretch: condensed;
  padding: 4%;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  overflow: scroll;
  color: antiquewhite;
  // border-bottom: 2px solid #000000;
  border-left: 2px solid black;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2;
  button{
      margin: 2%;
      // width : 75px;
      background:transparent;
      border : none;
      font-size: 1.1rem;
      font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

      border-radius : 2px;
      color :antiquewhite;
      
  }#do_n{
    
    border: 2px solid aquamarine;
    transition: 0.3s ease-in-out;
      &:hover {
        border-radius : 5px;
        cursor: pointer;
        color: black;
        background-color: aquamarine;
          
      }
  }#wish{
    
    border: 2px solid rgb(255, 113, 113);
    transition: 0.3s ease-in-out;
      &:hover {
        border-radius : 5px;
        cursor: pointer;
        color: black;
        background-color: rgb(255, 113, 113);
          
      }
  }
  #war{
    color: red;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}

#loader{
  visibility: hidden;
  position: absolute;
  left: 25%;
  top: 45%;
}

.loader {
  border: 5px solid #f3f3f33c;
  border-radius: 50%;
  border-top: 5px solid antiquewhite;
  border-bottom: 5px solid antiquewhite;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#started{
  position: absolute;
  float: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: large;
  font-weight: 500;
  color: antiquewhite;
  button{
    margin-top: 5%;
    width : 20%;
    background:transparent;
    border : none;
    font-size: 1.1rem;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border: 2px solid antiquewhite;
    border-radius : 2px;
    color :antiquewhite;
    transition: 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      color: black;
      background-color: antiquewhite;
      border-radius: 5px;
    }
  }
  
}

#dash{
  position: relative;
  top: 70px;
  button{
   
    width : 10%;
    background:transparent;
    border : none;
    font-size: 1.1rem;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border: 2px solid antiquewhite;
    border-radius : 2px;
    color :antiquewhite;
    transition: 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      color: black;
      background-color: antiquewhite;
      border-radius: 5px;
    }
  }
}

#head{
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: antiquewhite;
}

#cat{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: antiquewhite;
  #Wishlist{
    margin-left: 3%;
  }
  #History{
    margin-right: 3%;
  }
  #divide{
    padding-top: 30px;
    border: 2px solid antiquewhite;
    border-radius: 2px;
  }
}

// Wishlist
.dashwish{
  position: relative;
  top: 10%;
  margin: auto;
  display: flex;
  align-items: center;
  height : 75vh;
  width : 90vw;
  border : 2px solid black;
  border-radius: 15px;
}

.wishli{
  visibility: hidden;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  height: 100%;
  width: 50%;
  border-right : 2px solid black;
  overflow: scroll;

  li{
    cursor: pointer;
    padding-top: 2.22%;
    padding-bottom: 2.22%;
    padding-left: 4%;
    padding-right: 4%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: antiquewhite;
    //border-bottom: 2px solid black;
    transition: 0.3s ease-in-out;
    &:hover {
      color: #000000;
      background-color: antiquewhite;
      border-radius: 15px;
    }
  }
}


.wishinfor{
  visibility: hidden;
  justify-content: right;
  height: 100%;
  width: 50%;
  border-left : 2px solid black;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 4fr 1fr;
  // grid-column-gap: 20px;
  // grid-row-gap: 20px; 
}

.wishimage{
  padding: 4%;
  padding-left: 6%;
  grid-column: 1;
  grid-row: 1;
  
  img{
    height: 360px;
    width: 240px;
    border-radius: 15px;
    border: 2px solid black;
  }
  
}

.wishdescr{

  font-family: "Times New Roman", Times, serif;
  font-stretch: condensed;
  padding: 4%;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  overflow: scroll;
  color: antiquewhite;
  // border-bottom: 2px solid #000000;
  border-left: 2px solid black;
}

.wishlinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2;
  button{
      margin: 2%;
      // width : 75px;
      background:transparent;
      border : none;
      font-size: 1.1rem;
      font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

      border-radius : 2px;
      color :antiquewhite;
      
  }#dow_n{
    
    border: 2px solid aquamarine;
    transition: 0.3s ease-in-out;
      &:hover {
        border-radius : 5px;
        cursor: pointer;
        color: black;
        background-color: aquamarine;
          
      }
    }
}

// History
.dashhist{
  position: relative;
  top: 10%;
  margin: auto;
  display: flex;
  align-items: center;
  height : 75vh;
  width : 90vw;
  border : 2px solid black;
  border-radius: 15px;
}

.histli{
  visibility: hidden;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  height: 100%;
  width: 50%;
  border-right : 2px solid black;
  overflow: scroll;

  li{
    cursor: pointer;
    padding-top: 2.22%;
    padding-bottom: 2.22%;
    padding-left: 4%;
    padding-right: 4%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: antiquewhite;
    //border-bottom: 2px solid black;
    transition: 0.3s ease-in-out;
    &:hover {
      color: #000000;
      background-color: antiquewhite;
      border-radius: 15px;
    }
  }
}


.histinfor{
  visibility: hidden;
  justify-content: right;
  height: 100%;
  width: 50%;
  border-left : 2px solid black;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 4fr 1fr;
  // grid-column-gap: 20px;
  // grid-row-gap: 20px; 
}

.histimage{
  padding: 4%;
  padding-left: 6%;
  grid-column: 1;
  grid-row: 1;
  
  img{
    height: 360px;
    width: 240px;
    border-radius: 15px;
    border: 2px solid black;
  }
  
}

.histdescr{

  font-family: "Times New Roman", Times, serif;
  font-stretch: condensed;
  padding: 4%;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  overflow: scroll;
  color: antiquewhite;
  // border-bottom: 2px solid #000000;
  border-left: 2px solid black;
}

.histlinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2;
  button{
      margin: 2%;
      // width : 75px;
      background:transparent;
      border : none;
      font-size: 1.1rem;
      font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

      border-radius : 2px;
      color :antiquewhite;
      
  }#doh_n{
    
    border: 2px solid aquamarine;
    transition: 0.3s ease-in-out;
      &:hover {
        border-radius : 5px;
        cursor: pointer;
        color: black;
        background-color: aquamarine;
          
      }
  }#wishh{
    
    border: 2px solid rgb(255, 113, 113);
    transition: 0.3s ease-in-out;
      &:hover {
        border-radius : 5px;
        cursor: pointer;
        color: black;
        background-color: rgb(255, 113, 113);
          
      }
  }
  #warh{
    color: red;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
