@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
// @import "\Users\Harsh\Downloads\wallpaperflare.com_wallpaper";

$red: #e20001;
$black: #000000;

html,
body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/011/135/949/original/brown-wood-texture-background-wooden-panel-with-abstract-pattern-illustration-table-top-view-of-hardwood-floor-surface-3d-wooden-lumber-backdrop-good-for-advertising-background-vector.jpg");
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form{
  display : flex;
  flex-direction : column;
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}
.container {
  width: 1080px;
  min-width: 1080px;
  margin: 0 auto;
  .wrapper {
    padding: 0 48px;
    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      p {
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        color : white;
        text-transform: uppercase;
        font-weight: 500;
      }
      h5 {
        margin-top: 260px;
        font-size: 24px;
        font-weight: 600;
        padding-right: 360px;
      }
    }
  }
}

header {
  height: 100px;
  .inner-header {
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a {
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;
      color: $black;
    }
    .menu {
      button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 0.8rem;
        mix-blend-mode: difference;
      }
    }
  }
  .hamburger-menu {
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    .menu-secondary-background-color {
      background: transparent;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    // the red dashborad
    .menu-layer {
      position: relative;
      backdrop-filter: blur(5px);
      background: rgba(11, 1, 0, 0.775);
      height: 100%;
      overflow: hidden;
      .menu-city-background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        background-size: cover;
        background-repeat: no-repeat;
        animation-name: backgroundEffect;
        animation-duration: 30s;
        animation-iteration-count: infinite;
      }
      .wrapper {
        position: relative;
        .menu-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          top: 100px;
          // nav {
          //   display: block;
          //   ul {
          //     margin: 0;
          //     padding: 0;
          //     li {
          //       list-style: none;
          //       font-size: 2rem;
          //       font-weight: 700;
          //       cursor: pointer;
          //       height: 335px;
          //       overflow: hidden;
          //       position: relative;
          //       width: 700px;
          //       a {
          //         position: absolute;
          //         color: #fff;
          //         text-decoration: none;
          //         &:hover {
          //           color: $black;
          //         }
          //       }
          //     }
          //   }
          // }
          .info {
            color: #fff;
            width: 300px;
            h3 {
              font-size: 1.2rem;
              margin: 8px auto;
            }
            p {
              color : white;
              margin: 0 auto;
              font-size: 0.8rem;
            }
          }
        }
        .locations {
          position: absolute;
          bottom: -80px;
          color: #fff;
          margin-top: 16px;
          font-size: 0.8rem;
          font-weight: 600;
          span {
            cursor: pointer;
            &:first-child {
              margin-left: 64px;
            }
            font-weight: 400;
            margin: 0 32px;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #fff;
              background: $black;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

// new css for signup signin form 

.containerSign{
  height : 400px;
  width : 500px;
  backdrop-filter: blur(50px);
  border : 2px solid black;
  border-radius : 10px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display : flex;
  justify-content: center;
  align-items: center;
  color :rgb(255, 255, 255)
}


// .ui divider{
  
// }

.ui form{
  border-radius : 5px solid yellow;
  
}

.field{
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color :#ffffff;
  display : flex;
  flex-direction: column;
  font-size: 20px;
  height : 20px;
  margin : 0;
}

.fieldBox{
  
  height : 30px;
  width : 300px;
  background: transparent;
  border: none;
  border-bottom  : 2px solid rgb(0, 0, 0);
  // margin : 0px 0px 0px 10px;
}

.click{
  width : 75px;
  background:transparent;
  border : none;
  font-size: 1.1rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 2px solid rgb(255, 255, 255);
  border-radius : 2px;
  color :rgb(255, 255, 255);
  margin :0px 0px 10px 10px;
}

.ui button{
  width : 75px;
  background:transparent;
  border : none;
  font-size: 1.1rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 2px solid rgb(255, 255, 255);
  border-radius : 2px;
  color :rgb(255, 255, 255);
}

.confirmBox{
  display : flex;
  flex-direction: row;
  color :rgb(255, 255, 255);
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}
